header {
    background-color: var(--color-blue);
    color: var(--white);
    height:60px;
    display: flex;
    align-items: center;
}

.dsmovie-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.dsmovie-contact-container {
    display: flex;
    align-items: center;
}


.dsmovie-contact-container img {
    margin-right: 10px;
}

.dsmovie-nav-content h1 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
}
.dsmovie-nav-content p:hover {
    color:black;
    cursor: pointer;
    text-decoration: none;
}
.dsmovie-contact-link {
    margin: 0 0 0 10px;
    font-size: 15px;
    color: #fff;

}