@import url('https://fonts.googleapis.com/css?family=Open+Sans:wght@400;700&display=swap');

/* :root {
  --color-blue: #4070F4;
  --color-primary: #4D41C0;
  --bg-gray: #ddd
} */

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  background: #ddd
}

a, a:hover {
  text-decoration: none;
  color: unset;
}